.btn-red {
    background-color: #FF9A1813;
    margin: 5;    
}

.btn-lightblue {
    background-color: #FF4695D9;
    margin: 5;   
}

.btn-lightgreen {
    background-color: #FF049A90;
    margin: 5;   
}

.btn-yellow {
    background-color: #FFCED910;
    margin: 5;   
}

.btn-wheat {
    background-color: wheat;
    margin: 5;   
}
