.vscode
.DS_Store
/platforms/
/lib/

/app/**/*.js
/app/**/*.map
!/app/tns_modules/**/*.js
/node_modules/
hooks/

*.tgz

/keystore/
*.apk
*.ipa
*.jks

Telerik.keystore

GoogleService-Info.plist
google-services.json

report
times.html

npm-debug.log
package-lock.json
