.page-content {
    background-color: #455B66;
}

ActionBar {
    background-color: #151F2F;
    color: white;
}

.content-background-main {
    background-color: #E5E5E8;
    background-image: url("res://bg_main");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.content-background {
    background-color: #E5E5E8;
    background-repeat: no-repeat;
    background-position: 0 0;
}

Page, ExamplePage {
    background-color: #151F2F;
}

.example-img-wrap {
    width: 100;
    height: 100;
    vertical-align: top;
    horizontal-align: center;
    margin: 6;
}

.example-img-list {
    width: 72;
    height: 72;
    vertical-align: top;
    horizontal-align: left;
    margin: 6;
}

.example-item {
    padding: 6;
    margin: 0 0 1 1;
    background-color: white;
}

.no-image-example-item {
    margin: 0 0 1 1;
    background-color: white;
}

.list-example-image {
    horzontal-align: left;
    border-radius: 16;
    border-color: #3D5AFE;
    border-width: 1;
}
.list-example-image-new {
    border-radius: 16;
    border-color: #3D5AFE;
    border-width: 1;
}
.example-image {
    width: 120;
    height: 120;
    border-radius: 16;
}
.selected-example-border {
    width: 120;
    height: 120;
    border-radius: 16;
    border-color: #018F88;
    border-width: 1;
}

.show-new-btn,
.group-show-new-btn {
    horizontal-align: right;
    background-color: transparent;
    margin: 0 10;
}
.show-new-btn {
    color: #3D5AFE;
}

.new {
    font-weight: bold;
    vertical-align: bottom;
    horizontal-align: left;
}

.chartExampleHolderStyle {
    padding: 6;
    background-color: white;
}
.chartItemInRepeaterStyle {
    vertical-align: bottom;
    padding: 8;
    background-color: transparent;
    width: 74;
    height: 66;
}
.chartItemInRepeaterSelectedStyle {
    vertical-align: bottom;
    padding: 8;
    background-color: white;
    width: 74;
    height: 66;
}

.repeaterItemsScrollerStyle {
    background-color: #f1f1f1;
}
.repeaterBottomBorderStyle {
    background-color: #d6d5d5;
    height: 1;
    vertical-align: bottom;
}

.galleryRepeaterItemRightBorder{
    background-color: #d6d5d5;
    width: 1;
    margin-bottom: -1;
    horizontal-align: right;
}

.galleryRepeaterStyle {
    margin-bottom: 0;
}

.galleryRepeaterItemLeftBorder{
    background-color: #d6d5d5;
    width: 1;
    margin-left: -1;
    margin-bottom: -1;
    horizontal-align: left;
}

.galleryRepeaterItemBottomBorder{
    background-color: #d6d5d5;
    height: 1;
    vertical-align: bottom;
}

.galleryRepeaterItemBottomSelectedBorder{
    background-color: white;
    height: 1;
    vertical-align: bottom;
}

.chart-example-tytle-style {
    horizontal-align: center;
}

.example-menu-background {
    background-color: white;
}

.example-menu-stack {
    margin: 8 0;
}

.example-menu-item {
    color: #151F2F;
    height: 44;
    vertical-align: center;
}

.example-menu-item:highlighted {
    background-color: #E5E5E5;
}