@import { url('~/app-common.css') };

.drawer-item {
    padding: 16;
    font-size: 14;
}

.drawer-controls-title{
    margin: 8 16;
    font-size: 14;
}

.example-types-tab {
    background-color: none;
    color: white;
}

ActionBar {
    margin: 25 0 0 0;
}

.example-title-list, .example-title-wrap {
    color: black;
    margin: 3;
}
.example-title-list {
    horizontal-align: left;
    font-size: 20;
}
.example-title-wrap {
    horizontal-align: center;
    font-size: 17;
}

.used-controls-list, .used-controls-wrap {
    color: #95959E;
    vertical-align: top;
    font-weight: bold;
}
.used-controls-list {
    font-size: 12;
    margin: 3;
}
.used-controls-wrap {
    font-size: 12;
    margin: 0 16;
}

.info-link-button {
    font-size: 14;
    font-weight: bold;
}

.show-new-btn,
.group-show-new-btn {
    font-weight: bold;
    font-size: 14;
}

.marginated-content {
    margin: 0 16 0 60;
}

Button{
    /* Clearing material design from buttons. */
    border-width: 0.0001;
    border-color: rgba(255, 255, 255, 0);
}

.example-menu-item {
    font-size: 17;
}