Page{
    background-color: #E5E5E8;
}

.title {
    font-size: 30;
    margin-bottom: 10;
    color: black;
}

.list-example-image {
    width: 100;
    height: 100;
    horizontal-align: left;
    vertical-align: top;
    margin-right: 10;
}

.link-button {
    text-align: left;
    padding: 0;
    background-color: transparent;
    color: #018F88;
    font-size: 18;
}

.example-image {
    width: 100;
    height: 100;
}

.example-title {
    font-size: 20;
    color: black;
}

.info {
    font-size: 12;
    background-color: transparent;
}

.drawer-content {
    background-color: white;
}

.drawer-item {
    margin: 10;
}

.selected-example {
    padding: 5;
    margin: 10 5;
}

.unselected-example {
    padding: 5;
    margin: 10 5;
}

.show-new-btn{
    horizontal-align: right;
    background-color: transparent;
    margin: 0 10;
    color: #3D5AFE;
}

.new {
    font-weight: bold;
    vertical-align: bottom;
    horizontal-align: left;
}

.control {
    margin: 0 8 0 0;
    font-size: 12;
    font-weight: bold;
    color: #3D5AFE;
}

.example-item {
    padding: 5;
    margin: 1 0;
    background-color: white;
}

.example-overlay-button {
    vertical-align: bottom;
    horizontal-align: left;
    width: 40;
    height: 40;
}