.blue-background{
     background-color: #30BCFF;
}

.white-background{
     background-color: white;
}

.detailTitle {
    font-family: "Georgia";
    color: #455b66;
    font-size: 20;
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    padding: 10;
}

.detailContent {
    font-size: 15;
    color: #677881;
    margin-top: 15;
    margin-left: 18;
    margin-right: 10;
}

.blue-button {
    horizontal-align: center;
    vertical-align: center;
    margin: 12 0;    
} 
