.white-background{
     background-color: white;
}

.detailTitle {
    font-size: 22;
    color: #455b66;
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    padding: 10;
}

.detailContent {
    font-size: 14;
    color: #677881;
    margin-top: 15;
    margin-left: 18;
    margin-right: 10;
}
