.field-title {
  margin-top: 10;
  horizontal-align: left;
  font-size: 16;
  color: #FF737373;
}

.field {
  horizontal-align: right;
  text-align: right;
  width: 200;
  color: #FF034D8D;
}

.field-multiline {
  height: 150;
  color: #FF034D8D;
}

.field-switch{
  vertical-align: center;
  horizontal-align: right;
}

.profile-image {
  width: 50;
  height: 50;
  margin-right: 10;
}

.button-change-image {
    vertical-align: top;
    color: #FF034D8D;
}
