
.about-content {
    background-color: white;
}

.about-logo {
    margin: 40 0 36 16;
    horizontal-align: left;
    width: 154;
    height: 45;
}

.about-text {
    font-size: 15;
    margin: 0 16 0 72;
    padding: 0;
}