.conf-segmented-bar {
    background-color: #4ac1fa;
    color: white;
}

SearchBar {
    background-color: white;
    margin: 16;
}

.session-container {
    padding: 16;
}

.session-favorite {
    vertical-align: center;
    horizontal-align: center;
    margin-right: 26;
}

@keyframes session-favorite-selected {
    from { transform: scale(1, 1); opacity: 1; }
    60% { transform: scale(1.8, 1.8); opacity: 0.7; }
    to { transform: scale(1, 1); opacity: 1; }    
}

.session-favorite-selected {
    animation-name: session-favorite-selected;
    animation-duration: 0.4;
    vertical-align: center;
    horizontal-align: center;
    margin-right: 26;
}

@keyframes session-favorite-unselected {
    from { transform: scale(1, 1); opacity: 1; }
    60% { transform: scale(2, 2); opacity: 0.3; }
    to { transform: scale(1, 1); opacity: 1; }    
}

.session-favorite-unselected {
    animation-name: session-favorite-unselected;
    animation-duration: 0.2;
    vertical-align: center;
    horizontal-align: center;
    margin-right: 32;
}

.session-time {
    font-family: "sans-serif";
    /*font-weight: 700;*/
	font-size: 12;
    color: #4ac1fa;
}

.session-room {
    font-family: "sans-serif";
    /*font-weight: 700;*/
	font-size: 12;
	color: white;
    text-transform: uppercase;
    margin-left: 4;
}

.session-title {
    font-family: "sans-serif";
    /*font-weight: 300;*/
	font-size: 20;
	color: #c3c3c3;
}