.main-content {
    background-color: #4ac1fa;
}

.conf-segmented-bar {
    color: white;
    margin: 12 11 12 11;
}

SearchBar {
    background-color: #4ac1fa;
    padding: -1 0 0 0;
}

ListView {
    background-color: rgba(0, 0, 0, 0);
}

.session-container {
    padding: 12;
}

.session-favorite {
    vertical-align: center;
    horizontal-align: center;
    margin-right: 32;
}

@keyframes session-favorite-selected {
    from { transform: scale(1, 1); opacity: 1; }
    60% { transform: scale(1.8, 1.8); opacity: 0.3; }
    to { transform: scale(1, 1); opacity: 1; }    
}

.session-favorite-selected {
    animation-name: session-favorite-selected;
    animation-duration: 0.4;
    vertical-align: center;
    horizontal-align: center;
    margin-right: 32;
}

.session-time {
    /*font-weight: 500;*/
	font-size: 11;
    color: #4ac1fa;
}

.session-room {
    /*font-weight: 500;*/
	font-size: 11;
	color: white;
    text-transform: uppercase;
    margin-left: 4;
}

.session-title {
    /*font-weight: 300;*/
	font-size: 19;
	color: #c3c3c3;
}