.drawer-content {
    background-color: #3D5AFE;
}
.drawer-button,
.drawer-button-external {
    color: white;
    height: 44;
    border-width: 1;
    border-color: #3D5AFE;
    background-color: #003751E4;
}
.drawer-button-external {
    background-image: url("res://ic_outside_link");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
.drawer-button:highlighted,
.drawer-button-external:highlighted {
    color: white;
    background-color: #FF3751E4;
    border-width: 1;
    border-color: #3D5AFE;
}

.drawer-external-link {
    height: 44;
}
.drawer-external-link:highlighted {
    background-color: #516BFE;
}
.drawer-external-icon {
    background-image: url("res://ic_outside_link");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    horizontal-align: center;
    padding: 0 36;
}
.drawer-external-label {
    font-size: 13;
    color: white;
    vertical-align: center;
}